# Ignore Gradle project-specific cache directory
.gradle/
.idea/
build/*

# Excepciones: subir evidencia y reportes
!build/karate-reports/
!build/karate-reports/**
!build/evidencias/
!build/evidencias/**
